.bin
.bundle
.bundleignore
.byebug_history
.dockerignore
.DS_Store
.env
.git
.gitignore
.rspec

yarn-error.log

log/*
node_modules/*
tmp/*
test

config/deploy
public/packs
public/packs-test
coverage/
